{
  "$schema": "http://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ".*",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}